.main {
    display: flex;
    margin: 0 400px;
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
    padding: 8px;
    min-height: calc(100vh - 104px);
    line-height: 1.6;
}

.content{
    line-height: 2.8;
}

.content a{
    text-decoration: none;
    padding: 2px;
    border-bottom: 1px solid;
}

.events{
    height: 60px;
    padding: 54px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.title{
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    align-items: flex-start;
}
.title a{
    font-size: 24px;
    font-weight: 700;
}
.title span{
    width: 680px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    color: #666666;
}

@media (max-width: 700px) {
    .main {
        margin: 0;
    }
    .title a{
        max-width: calc(100vw - 160px);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
    }
    .title span{
        max-width: calc(100vw - 160px);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        color: #666666;
    }
}

@media (min-width: 701px) and (max-width: 1120px) {
    .main {
        margin: 0 140px;
    }
    .title a{
        max-width: calc(100vw - 450px);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
    }
    .title span{
        max-width: calc(100vw - 450px);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        color: #666666;
    }
}
