.main {
    display: flex;
    margin: 0 400px;
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
    padding: 8px;
    min-height: 100vh;
    line-height: 1.6;
}

.content{
    line-height: 2.8;
}

.content a{
    text-decoration: none;
    padding: 2px;
    border-bottom: 1px solid;
}
